.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
}

.error {
    color: #CC0000;
}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-right: 12px;
}

.input:focus {
}

.errorInput {
    width: 372px;
    height: 36px;
    border: 1px solid #CC0000;

}

.button {
    width: 78px;
    height: 36px;
    left: 454px;
    top: 1024px;
    background: #0059b3;
    border-radius: 3px;
    color: #FFFFFF;
    border: 0 solid black;
}

.button:focus {

}

.button:active {

}

.button:disabled {
    width: 78px;
    height: 36px;
    left: 454px;
    top: 1024px;
    background: #0066CC;
    opacity: 0.5;
    border-radius: 3px;
    color: #FFFFFF;
}

.text {

}

.greeting {
}
